<#-- <div class="login-logo pl-5 ml-5">
  <img src="<@ofbizUrl>../static/logo/AutoPatt_mini.png</@ofbizUrl>" width="150px" />
  </div> -->

  <div id="loginSidebarLogo">
    <img src='../static/images/loginPage-2.jpeg' id='loginSidebarImage' />
  </div>